################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureWeatherSolution/.vs
/AzureSolutions/.vs/AzureSolutions
/AzureSolutions/AzureWeatherSolution/bin/Debug/net6.0
/AzureSolutions/AzureWeatherSolution/obj
/AzureSolutions/.vs/ProjectEvaluation
